h1, h2, h3, p{
  font-family: "Inter", sans-serif;
}


h1{
  color: #5D5FEF;
  margin: 0px;
  font-size: 4rem;
}


.container{
  margin-top: 48px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding: 32px;
  text-align: center;
}

.img-container{
  width: 80%;
  border: 2px #757575;
  border-style: dashed;
  border-radius: 5px;
  margin: auto;
  
}

.button{
  font-family: "Inter", sans-serif;
  padding: 10px;
  font-size: 1rem;
  background-color: #2C2C2C;
  color: white;
  border: none;
  border-radius: 5px;
}


/* responsive */
@media only screen and (max-width: 768px) {
  .img-container {
    width: 75%;
  }
  h1 {
    font-size: 3rem;
  }
  h2{
    font-size: 24px;
  }
  .container{
    margin-top: 20%;
    padding: 16px;
    width: 75%;
  }
}

input[type="file"] {
  font-family: "Inter", sans-serif;
}

.attachment::file-selector-button {
  padding: 10px;
  margin-right: 24px;
  font-size: 1rem;
  background-color: #2C2C2C;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.loading{
  color:#757575;
  margin: auto;
  font-size: xx-large;
  font-style: italic;
}